
        html {
            font-family: Helvetica, Arial, sans-serif;
            background-color: #d2caca;
        }
        .container {
            max-width: 1100px;
            background-color: #fff;
            margin: 50px auto;
            padding: 20px 50px;
            border-radius: 8px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .bold {
            font-weight: bold;
        }
        /* header */
        .header {
            text-align: center;
            margin-bottom: 30px; 
        }
        .main-title {
            font-size: 40px;
            margin: 0; 
        }
        .main-paragraph {
            font-style: italic;
            margin: 5px 0 20px; 
        }
        /* imagem destaque */
        .featured-image {
            text-align: center;
            margin-top: 30px;
        }
        /* biografia */
        .biography-container {
            padding: 25px 0;
            margin: 25px 0;
            border-top: 1px dashed #ddd;
            border-bottom: 1px dashed #ddd;
        }
        /* quotes */
        .quotes-container {
            background-color: #eee; 
            padding: 30px;
            margin: 25px 0; 
            border-radius: 8px; /* Bordas arredondadas */
        }
        .quotes-container blockquote {
            font-weight: bold;
            font-size: 30px;
            margin: 0;
            line-height: 1.4; /* Espaçamento entre linhas */
        }
        .quotes-container p {
            font-style: italic;
            text-align: right; 
            margin-top: 10px; /* Espaço entre o blockquote e o autor */
        }
        /* curiosidades */
        .curiosities-container {
            padding: 25px 0;
            margin: 25px 0;
            border-top: 1px dashed #ddd;
            border-bottom: 1px dashed #ddd;
        }
        .curiosities-container ul {
            list-style-type: none;
            padding: 0;
        }
        .curiosities-container li {
            margin-bottom: 15px; /* Espaço entre itens de lista */
        }
        /* imagem adicional */
        .img-Ad {
            text-align: center;
            margin-top: 30px;
        }
        .img-bold {
            font-weight: bold;
            text-align: center;
        }
        /* mais informações */
        .moreinfo-container {
            margin-top: 30px;
            text-align: center;
        }
        .moreinfo-container a {
            color: #007BFF; 
            text-decoration: none; /* Remove sublinhado */
            font-weight: bold;
        }
        .moreinfo-container a:hover {
            text-decoration: underline; 
        }
    
